POSICIONES_ENTRENADORES=[1|2,3|7,5|5]
POKEMON_ENTRENADORES=[Pikachu|Squirtle|Pidgey,Squirtle|Squirtle, Bulbasaur|Bulbasaur]
OBJETIVOS_ENTRENADORES=[Pikachu|Charizard|Squirtle|Pidgey, Bulbasaur|Squirtle,Squirtle|Bulbasaur]
TIEMPO_RECONEXION=30
RETARDO_CICLO_CPU=2
ALGORITMO_PLANIFICACION=FIFO
QUANTUM=2
ESTIMACION_INICIAL=0
IP_BROKER=127.0.0.3
PUERTO_BROKER=5020
IP_TEAM=127.0.0.3
PUERTO_TEAM=5030
LOG_FILE=logs/teamLog.log
